/* EXTERNAL - FONT - ABC ORDER */
/* EXTERNAL - RESET - ABC ORDER */
/* KIT - GEAR - NEEDS ORDER */
@font-face { font-family: droid-regular; src: url("fonts/fujisan/DroidSerif.eot"); src: url("fonts/fujisan/DroidSerif.eot#iefix") format("embedded-opentype"), url("fonts/fujisan/DroidSerif.woff") format("woff"), url("fonts/fujisan/DroidSerif.woff2") format("woff2"), url("fonts/fujisan/DroidSerif.ttf") format("truetype"), url("fonts/fujisan/DroidSerif.svg#fujisan/DroidSerif") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-regular; src: url("fonts/fujisan/OpenSans-Regular.eot"); src: url("fonts/fujisan/OpenSans-Regular.eot#iefix") format("embedded-opentype"), url("fonts/fujisan/OpenSans-Regular.woff") format("woff"), url("fonts/fujisan/OpenSans-Regular.woff2") format("woff2"), url("fonts/fujisan/OpenSans-Regular.ttf") format("truetype"), url("fonts/fujisan/OpenSans-Regular.svg#fujisan/OpenSans-Regular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: sushi-high; src: url("fonts/fujisan/SUSHH___.eot"); src: url("fonts/fujisan/SUSHH___.eot#iefix") format("embedded-opentype"), url("fonts/fujisan/SUSHH___.woff") format("woff"), url("fonts/fujisan/SUSHH___.woff2") format("woff2"), url("fonts/fujisan/SUSHH___.ttf") format("truetype"), url("fonts/fujisan/SUSHH___.svg#fujisan/SUSHH___") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: fontawesome-webfont; src: url("fonts/framework/font-awesome-4.1.0.eot"); src: url("fonts/framework/font-awesome-4.1.0.eot#iefix") format("embedded-opentype"), url("fonts/framework/font-awesome-4.1.0.woff") format("woff"), url("fonts/framework/font-awesome-4.1.0.woff2") format("woff2"), url("fonts/framework/font-awesome-4.1.0.ttf") format("truetype"), url("fonts/framework/font-awesome-4.1.0.svg#framework/font-awesome-4.1.0") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: Glyphicons Halflings; src: url("fonts/elmar-reizen/glyphicons-halflings-regular.eot"); src: url("fonts/elmar-reizen/glyphicons-halflings-regular.eot#iefix") format("embedded-opentype"), url("fonts/elmar-reizen/glyphicons-halflings-regular.woff") format("woff"), url("fonts/elmar-reizen/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/elmar-reizen/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/elmar-reizen/glyphicons-halflings-regular.svg#elmar-reizen/glyphicons-halflings-regular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: formular; src: url("fonts/elmar-reizen/formular.eot"); src: url("fonts/elmar-reizen/formular.eot#iefix") format("embedded-opentype"), url("fonts/elmar-reizen/formular.woff") format("woff"), url("fonts/elmar-reizen/formular.woff2") format("woff2"), url("fonts/elmar-reizen/formular.ttf") format("truetype"), url("fonts/elmar-reizen/formular.svg#elmar-reizen/formular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: formular-light; src: url("fonts/elmar-reizen/formular-light.eot"); src: url("fonts/elmar-reizen/formular-light.eot#iefix") format("embedded-opentype"), url("fonts/elmar-reizen/formular-light.woff") format("woff"), url("fonts/elmar-reizen/formular-light.woff2") format("woff2"), url("fonts/elmar-reizen/formular-light.ttf") format("truetype"), url("fonts/elmar-reizen/formular-light.svg#elmar-reizen/formular-light") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: formular-medium; src: url("fonts/elmar-reizen/formular-medium.eot"); src: url("fonts/elmar-reizen/formular-medium.eot#iefix") format("embedded-opentype"), url("fonts/elmar-reizen/formular-medium.woff") format("woff"), url("fonts/elmar-reizen/formular-medium.woff2") format("woff2"), url("fonts/elmar-reizen/formular-medium.ttf") format("truetype"), url("fonts/elmar-reizen/formular-medium.svg#elmar-reizen/formular-medium") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: formular-bold; src: url("fonts/elmar-reizen/formular-bold.eot"); src: url("fonts/elmar-reizen/formular-bold.eot#iefix") format("embedded-opentype"), url("fonts/elmar-reizen/formular-bold.woff") format("woff"), url("fonts/elmar-reizen/formular-bold.woff2") format("woff2"), url("fonts/elmar-reizen/formular-bold.ttf") format("truetype"), url("fonts/elmar-reizen/formular-bold.svg#elmar-reizen/formular-bold") format("svg"); font-weight: normal; font-style: normal; }
.tl-clearfix:after { visibility: hidden; display: block !important; font-size: 0; content: ""; clear: both; height: 0; }

* html body .tl-clearfix { zoom: 0; }

*:first-child + html body .tl-clearfix { zoom: 0; }

/* KIT - GEAR - ABC ORDER */
.tl-button, .tl-form- label { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }

.tl-input-box { margin: 0; padding: 0; }

.tl-button:after, .tl-button > b { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

.tl-theme-pb .tl-button:before { content: ''; position: relative; display: inline-block; height: 100%; vertical-align: middle; }

/* KIT - GIZMO - ABC ORDER */
.tl-box-middle { -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); position: absolute; left: 50%; top: 50%; z-index: 1000; width: 40%; /*height: 50%;*/ color: #69696a; text-align: center; box-shadow: 0 0 30px rgba(0, 0, 0, 0.7); border-radius: 5px; background: #fff; }
.tl-box-middle > h2 { display: block; height: 44px; line-height: 44px; margin: 0 0 25px 0; padding: 0 20px; font-family: 'Roboto-Regular'; font-size: 17px; text-align: left; text-transform: uppercase; color: #fff; border-radius: 5px 5px 0 0; background: #d32a2a; }
.tl-box-middle > p { margin: 0 0 25px 0; padding: 0 20px; text-align: left; font-size: 16px; font-family: 'Roboto-Regular'; line-height: 22px; }
.tl-box-middle em, .tl-box-middle .button { color: #d32a2a; font-style: normal; }
.tl-box-middle .button { display: inline-block; text-align: center; margin-bottom: 25px; height: 35px; line-height: 35px; text-transform: uppercase; padding: 0 15%; border-radius: 5px; color: #fff; cursor: pointer; background: #d32a2a; }
.tl-box-middle .close-button > .fa.fa-times:before { font-size: 19px; }

.tl-button, .tl-button:after { -webkit-transition: border-color ease-in-out 0.25s, color ease-in-out 0.25s; -moz-transition: border-color ease-in-out 0.25s, border-color ease-in-out 0.25s; -ms-transition: border-color ease-in-out 0.25s, border-color ease-in-out 0.25s; -o-transition: border-color ease-in-out 0.25s, border-color ease-in-out 0.25s; }

.tl-button { font-family: Comic Sans MS, Verdana, Arial, Helvetica; font-size: 12px; position: relative; display: block; margin: 0 0 10px 0; padding: 0; font-size: 10px; line-height: 24px; border: none; border: 0; color: #555; text-decoration: none; text-align: center; text-transform: uppercase; font-weight: bold; cursor: pointer; background: #eaeaea; box-shadow: 2px 3px 0px #cfcfcf; }
.tl-button:after { content: ''; display: inline-block; border: 1px solid; border-color: #eaeaea; }
.tl-button:hover { color: #eaeaea; box-shadow: 2px 3px 0px #bfbfbf; background: #9b9b9b; }
.tl-button:hover:after { border-color: #9b9b9b; }
.tl-button:hover > b { border-color: transparent; }
.tl-button > b { border-width: 2px; border-style: solid; border-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) transparent rgba(255, 255, 255, 0.3); height: 2px; border-radius: 4px 4px 0 0; }

.tl-theme-pb .tl-button { background: #fafafa; background: -moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e6e6e6)); background: -webkit-linear-gradient(top, #fafafa 0%, #e6e6e6 100%); background: -o-linear-gradient(top, #fafafa 0%, #e6e6e6 100%); background: -ms-linear-gradient(top, #fafafa 0%, #e6e6e6 100%); background: linear-gradient(to bottom, #fafafa 0%, #e6e6e6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 ); display: block; height: 30px; color: #555; line-height: normal; padding-top: 2px; padding-left: 10px; padding-right: 10px; box-shadow: none; border-radius: 4px; }
.tl-theme-pb .tl-button:after { border-radius: 4px; border-color: #c2c2c2; }
.tl-theme-pb .tl-button:hover, .tl-theme-pb .tl-button:active { color: #000; background: #f2f2f2; }
.tl-theme-pb .tl-button:hover:after, .tl-theme-pb .tl-button:active:after { border-color: #9e9e9e; }
.tl-theme-pb .tl-button:focus { outline: 0; }
.tl-theme-pb .tl-button:active { box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2) inset; }
.tl-theme-pb .tl-button.tl-success, .tl-theme-pb .tl-button.tl-warn, .tl-theme-pb .tl-button.tl-highlight { color: #fafafa; }
.tl-theme-pb .tl-button.tl-success:after, .tl-theme-pb .tl-button.tl-warn:after, .tl-theme-pb .tl-button.tl-highlight:after { border-color: #464646; }
.tl-theme-pb .tl-button.tl-success:hover, .tl-theme-pb .tl-button.tl-warn:hover, .tl-theme-pb .tl-button.tl-highlight:hover { color: #f2f2f2; }
.tl-theme-pb .tl-button.tl-success:hover:after, .tl-theme-pb .tl-button.tl-warn:hover:after, .tl-theme-pb .tl-button.tl-highlight:hover:after { border-color: #2f2f2f; }
.tl-theme-pb .tl-button.tl-success { background: #5a5a5a; background: -moz-linear-gradient(top, #5a5a5a 0%, #303030 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a5a5a), color-stop(100%, #303030)); background: -webkit-linear-gradient(top, #5a5a5a 0%, #303030 100%); background: -o-linear-gradient(top, #5a5a5a 0%, #303030 100%); background: -ms-linear-gradient(top, #5a5a5a 0%, #303030 100%); background: linear-gradient(to bottom, #5a5a5a 0%, #303030 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5a5a', endColorstr='#303030',GradientType=0 ); }
.tl-theme-pb .tl-button.tl-success:hover { background: #5a5a5a; }
.tl-theme-pb .tl-button.tl-warn { background: #e41e26; background: -moz-linear-gradient(top, #e41e26 0%, #c9252c 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e41e26), color-stop(100%, #c9252c)); background: -webkit-linear-gradient(top, #e41e26 0%, #c9252c 100%); background: -o-linear-gradient(top, #e41e26 0%, #c9252c 100%); background: -ms-linear-gradient(top, #e41e26 0%, #c9252c 100%); background: linear-gradient(to bottom, #e41e26 0%, #c9252c 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e41e26', endColorstr='#c9252c',GradientType=0 ); }
.tl-theme-pb .tl-button.tl-warn:hover { background: #e41e26; }
.tl-theme-pb .tl-button.tl-highlight { background: #86be40; background: -moz-linear-gradient(top, #86be40 0%, #4b8c40 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86be40), color-stop(100%, #4b8c40)); background: -webkit-linear-gradient(top, #86be40 0%, #4b8c40 100%); background: -o-linear-gradient(top, #86be40 0%, #4b8c40 100%); background: -ms-linear-gradient(top, #86be40 0%, #4b8c40 100%); background: linear-gradient(to bottom, #86be40 0%, #4b8c40 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86be40', endColorstr='#4b8c40',GradientType=0 ); }
.tl-theme-pb .tl-button.tl-highlight:hover { background: #86be40; }
.tl-theme-pb .tl-button.tl-disabled { opacity: .4; cursor: default; color: #9b9b9b; background: #f2f2f2; }
.tl-theme-pb .tl-button.tl-disabled.tl-success, .tl-theme-pb .tl-button.tl-disabled.tl-warn, .tl-theme-pb .tl-button.tl-disabled.tl-highlight { color: #fafafa; }
.tl-theme-pb .tl-button.tl-disabled.tl-success { background: #5a5a5a; }
.tl-theme-pb .tl-button.tl-disabled.tl-warn { background: #e41e26; }
.tl-theme-pb .tl-button.tl-disabled.tl-highlight { background: #86be40; }
.tl-theme-pb .tl-button.tl-disabled > b { display: none; }
.tl-theme-pb .tl-button.tl-disabled:active { box-shadow: none; }
.tl-theme-pb a.tl-button, .tl-theme-pb div.tl-button { height: 28px; }
.tl-theme-pb input.tl-button { padding-bottom: 3px; vertical-align: top; border: 1px solid #c2c2c2; }
.tl-theme-pb input.tl-button:hover { border: 1px solid #9b9b9b; }
.tl-theme-pb input.tl-button.tl-success, .tl-theme-pb input.tl-button.tl-warn, .tl-theme-pb input.tl-button.tl-highlight { border-color: #464646; }
.tl-theme-pb input.tl-button.tl-success:hover, .tl-theme-pb input.tl-button.tl-warn:hover, .tl-theme-pb input.tl-button.tl-highlight:hover { border-color: #2f2f2f; }

[class*="tl-group"] fieldset, [class~=" tl-group"] fieldset { margin: 0; padding: 0; border: 0; }
[class*="tl-group"] .tl-button, [class~=" tl-group"] .tl-button { width: 100%; border-radius: 0; }
[class*="tl-group"] .tl-button > b, [class~=" tl-group"] .tl-button > b { border-radius: 0; height: 0; }
[class*="tl-group"] .tl-button:after, [class~=" tl-group"] .tl-button:after { border-radius: 0; }
[class*="tl-group"] .tl-button:first-child, [class*="tl-group"] .tl-button:first-child:after, [class~=" tl-group"] .tl-button:first-child, [class~=" tl-group"] .tl-button:first-child:after { border-radius: 4px 0 0 4px; }
[class*="tl-group"] .tl-button:last-child, [class*="tl-group"] .tl-button:last-child:after, [class~=" tl-group"] .tl-button:last-child, [class~=" tl-group"] .tl-button:last-child:after { border-radius: 0 4px 4px 0; }
[class*="tl-group"].tl-theme-pb .tl-button, [class~=" tl-group"].tl-theme-pb .tl-button { float: left; width: auto; }

.tl-group-button-buttonxl.tl-theme-pb fieldset .tl-button, .tl-group-buttonxl-button.tl-theme-pb fieldset .tl-button { margin-left: 0; float: none; width: 100%; }

.tl-group-buttonxl-button .tl-button:first-child { float: right; }
.tl-group-buttonxl-button .tl-button:first-child, .tl-group-buttonxl-button .tl-button:first-child:after { border-radius: 0 4px 4px 0; }
.tl-group-buttonxl-button .tl-button:last-child, .tl-group-buttonxl-button .tl-button:last-child:after { border-radius: 4px 0 0 4px; }

.tl-group-button-input .tl-button:first-child, .tl-group-input-button .tl-button:first-child { float: left; border-radius: 4px 0 0 4px; }
.tl-group-button-input .tl-button:first-child:after, .tl-group-input-button .tl-button:first-child:after { border-radius: 4px 0 0 4px; }
.tl-group-button-input .tl-button:first-child + fieldset [type*="text"], .tl-group-button-input .tl-button:first-child + fieldset [type~=" text"], .tl-group-input-button .tl-button:first-child + fieldset [type*="text"], .tl-group-input-button .tl-button:first-child + fieldset [type~=" text"] { border-radius: 0 4px 4px 0; }
.tl-group-button-input fieldset [type*="text"], .tl-group-button-input fieldset [type~=" text"], .tl-group-input-button fieldset [type*="text"], .tl-group-input-button fieldset [type~=" text"] { float: left; border-radius: 4px; border: 1px solid; border-color: #c7c6c6; position: relative; z-index: 1; overflow: hidden; display: block; width: 100%; height: 2.5em; margin: 0; padding: 0 8px; font-size: 75%; line-height: 1.4em; outline: none; text-overflow: ellipsis; white-space: nowrap; color: #525252; background: white; vertical-align: middle; box-shadow: none; }

.tl-group-input-button .tl-button:first-child { float: right; border-radius: 0 4px 4px 0; }
.tl-group-input-button .tl-button:first-child:after { border-radius: 0 4px 4px 0; }
.tl-group-input-button .tl-button:first-child + fieldset [type*="text"], .tl-group-input-button .tl-button:first-child + fieldset [type~=" text"] { border-radius: 4px 0 0 4px; }

.tl-input-box { font-family: Comic Sans MS, Verdana, Arial, Helvetica; font-size: 12px; -webkit-transition: 0.15s ease-in-out; -moz-transition: 0.15s ease-in-out; -ms-transition: 0.15s ease-in-out; -o-transition: 0.15s ease-in-out; transition: 0.15s ease-in-out; width: 100%; box-sizing: border-box; height: 30px; padding-left: 10px; padding-right: 10px; border: 0; border: 1px solid #c7c6c6; }
.tl-input-box:focus { border: 1px solid #a09f9f; outline: none; }
.tl-input-box:first-child { padding-left: 10px; }

.tl-form { font-family: Comic Sans MS, Verdana, Arial, Helvetica; font-size: 14px; }
.tl-form .tl-icon { position: static; }
.tl-form fieldset { position: relative; }
.tl-form fieldset .tl-icon { position: absolute; top: 50%; left: 15px; display: block; margin-top: -8px; margin-left: -7px; }

.tl-input-box.tl-disabled, .tl-input-box [disabled] { opacity: .4; cursor: default; color: #9b9b9b; background: #f2f2f2; }

/* KIT - GIZMO-PUBLIC - ABC ORDER */
/* SOURCES - ABC ORDER */
body { margin: 0; }

.wrapper { display: block; width: 1005px; margin: auto; }

/* structure */
.tl-box.tl-box-extraindent .tl-box-inner { padding: 20px 60px 40px 60px; }
.tl-box p { font-size: 14px; line-height: 24px; margin: 0 0 10px 0; }
.tl-box .tl-title:first-child { margin-bottom: 0; }
.tl-box .tl-box-inner { margin-bottom: 20px; padding: 30px 25px; background: #f5f5f5; }
.tl-box .tl-box-inner > ul, .tl-box .tl-box-inner > ul li { margin: 0; padding: 0; }
.tl-box .tl-box-inner > ul { box-sizing: border-box; float: left; width: 50%; padding-right: 20px; padding-left: 25px; }
.tl-box .tl-box-inner > ul li { font-size: 11px; line-height: 20px; }
.tl-box .tl-box-inner .tl-promote { text-align: center; }

.tl-box { min-height: 260px; margin-bottom: 20px; font-family: 'Verdana'; }

.tl-box-contact.tl-box-extraindent p, .tl-box-signup.tl-box-extraindent p { margin-bottom: 40px; color: #555555; }
.tl-box-contact.tl-box-extraindent .tl-box-inner, .tl-box-signup.tl-box-extraindent .tl-box-inner { padding: 50px 60px; }
.tl-box-contact.tl-box-extraindent .tl-title-sub, .tl-box-signup.tl-box-extraindent .tl-title-sub { margin-bottom: 0; border: 0; color: #555555; font-size: 22px; line-height: 28px; }

.tl-box-signup.tl-box-extraindent p { width: 560px; margin: auto auto 10px auto; line-height: 28px; text-align: center; }
.tl-box-signup.tl-box-extraindent .tl-title-sub { text-align: center; font-size: 24px; }
.tl-box-signup .tl-deal-description { text-align: center; }
.tl-box-signup .tl-deal-description .tl-link-button { display: inline-block; text-align: left; }

.tl-callus, .tl-mailus { float: left; width: 50%; padding-top: 10px; padding-bottom: 10px; font-size: 12px; line-height: 24px; }
.tl-callus a, .tl-mailus a { display: block; margin-bottom: 10px; }
.tl-callus .tl-link-button, .tl-mailus .tl-link-button { display: inline-block; }
.tl-callus .tl-title-sub-highlight, .tl-mailus .tl-title-sub-highlight { margin: 0 0 5px 0; }

.tl-hr { margin-bottom: 20px; border: 0; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #ffffff; }

.tl-link { color: #000000; text-decoration: underline; }
.tl-link:hover { text-decoration: none; }

.tl-link-button { position: relative; display: inline-block; min-width: 85px; height: 14px; line-height: 14px; margin: 0; border: 0; color: #fff; text-decoration: none; text-transform: uppercase; font-weight: bold; font-family: 'Verdana'; padding: 7px 8px; font-size: 10px; box-shadow: 3px 3px 0 #dcdcdc; background: #86be40; }
.tl-link-button:hover { cursor: pointer; text-decoration: underline; }
.tl-link-button:before { content: ''; display: block; position: absolute; top: 50%; right: 5px; width: 0; height: 0; margin-top: -5px; border: 4px solid; border-color: transparent transparent transparent #fff; }

.tl-link-image { display: block; float: left; margin-right: 30px; }

p.tl-promote { font-size: 24px; line-height: 48px; }
p.tl-promote > span { padding: 4px 8px; font-weight: bold; color: #fff; background: #86be40; }

.tl-title { font-weight: bold; border-bottom: 5px solid #86BE40; color: #555555; font-family: 'Verdana'; font-size: 14px; line-height: 14px; margin-bottom: 20px; padding: 15px 0; text-transform: uppercase; }

.tl-title-sub { border-bottom: 5px solid #e6e6e6; color: #9b9b9b; font-family: verdana; font-size: 14px; line-height: 25px; margin: 0 0 21px; font-weight: bold; padding-bottom: 5px; }

.tl-title-sub-highlight { font-size: 14px; line-height: 24px; color: #86be40; }

.tl-deal-description { padding-right: 15px; font-size: 14px; line-height: 24px; }
.tl-deal-description em { font-weight: bold; font-style: normal; }
.tl-deal-description > h2 { margin-bottom: 0; line-height: 24px; }
.tl-deal-description > img { float: left; margin: 0 30px 20px 0; }
.tl-deal-description > p { margin-top: 0; }

.tl-form- label { margin-right: 10px; cursor: pointer; color: #555555; font-size: 9px; text-transform: uppercase; margin-bottom: 10px; font-family: verdana; font-weight: bold; }

.tl-captcha { border: 0; margin: 0; padding: 0; }
.tl-captcha .bl-captcha, .tl-captcha .bl-input-container { float: left; }
.tl-captcha .bl-input-container { margin-bottom: 15px; }

.bl-form .tl-input-radio { border: 0; margin: 0 0 15px 0; padding: 0; }
.bl-form .tl-input-radio > label { display: inline-block; cursor: pointer; margin-right: 5px; }
.bl-form .tl-input-radio [type="radio"], .bl-form .tl-input-radio [type="checkbox"] { margin: 0 5px 0 0; padding: 0; cursor: pointer; width: auto; }

.bl-form > section { float: left; width: 48%; margin-right: 2%; }
.bl-form > section + section { margin-right: auto; margin-left: 2%; }

.bl-form label, .bl-form .el-label { position: relative; display: block; height: 24px; line-height: 24px; padding-left: 3px; font-size: 9px; color: #555555; text-transform: uppercase; font-weight: bold; z-index: 1; }

.bl-form label .el-mark, .bl-form .el-label .el-mark { position: absolute; top: 50%; right: 3px; margin-top: -12px; display: none; font-size: 8px; color: #86BE40; background: #ffffff; white-space: nowrap; }

.bl-form .error label .el-mark, .bl-form .error .el-label .el-mark { display: block; }

.bl-form .bl-input { position: relative; overflow: hidden; border-width: 1px; border-style: solid; border-color: #dddcdc #e3e2e2 #dddcdc #e3e2e2; border-radius: 5px; margin-bottom: 12px; background: #f5f5f5; }

.bl-form .bl-input > i { overflow: hidden; position: absolute; top: 0; right: 2px; left: 2px; height: 0; border-top: 1px solid #e2e2e2; border-bottom: 1px solid #e6e6e6; }

.bl-form .bl-input > ins { display: none; position: absolute; top: 1px; right: 3px; color: #86BE40; font-size: 14px; font-weight: bold; text-decoration: none; }

/*.bl-form .bl-input input[placeholder] {
	color: #9b9b9b;
	font-weight: bold;
	text-transform: none;
	font-style: italic;
}
*/
.bl-form .bl-input input:not:hover { color: #555555; font-weight: normal; }

/* bl-input - states */
.bl-form .validate .bl-input > ins { display: block; }

.bl-form .active .bl-input, .bl-form .validate.error .bl-input { border-width: 1px; border-style: solid; }

.bl-form .bl-input:hover, .bl-form .active .bl-input { border-color: #b4b4b4 #bdbdbd; }

.bl-form .validate.error .bl-input { border-color: #86BE40 #8ec24c; }

.bl-form .bl-input:hover { -webkit-transition: 0.25s ease-in-out; -moz-transition: 0.25s ease-in-out; -ms-transition: 0.25s ease-in-out; -o-transition: 0.25s ease-in-out; transition: 0.25s ease-in-out; }

.bl-form .bl-input > input, .bl-form .bl-input > textarea, .bl-form .bl-input > input[type=file] { width: 99%; height: 28px; line-height: 28px; margin: 0; padding: 0 0.5%; border: 1px solid transparent; border-radius: 5px; font-family: 'Verdana', arial; font-size: 11px; outline: none; outline: 0; background: none; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.bl-form .bl-input > textarea { height: 78px; }

.bl-form .bl-input > input[type=file] { position: relative; top: 1px; right: 0; text-align: left; cursor: pointer; }

.bl-form .bl-input-file { overflow: hidden; position: relative; }

.bl-form .bl-input-file .bl-input, .bl-form .bl-input-search .bl-input { overflow: visible; position: static; height: 28px; line-height: 28px; border-radius: 5px 0 0 5px; background: #f5f5f5 url("../images/icon-attachment.png") no-repeat 5px center; }

.bl-form .bl-input-search .bl-input > i, .bl-form .bl-input-file .bl-input > i { top: 1px; }

.bl-form .bl-input-search .bl-input { background: #f5f5f5 url("../images/icon-magnifier.png") no-repeat 5px center; }

.bl-form .bl-input-file .bl-input > input[type=file] { position: relative; width: 100%; text-align: right; font-family: 'Verdana',arial; font-size: 11px; height: 28px; line-height: 28px; -moz-opacity: 0; opacity: 0; background: #ffffff; z-index: 2; }

.bl-form .bl-input-file .bl-input > input[type=text] { position: absolute; top: 0; left: 0; width: 100%; z-index: 1; text-indent: 25px; }

.bl-form .bl-input-file .bl-input .el-button-browse { overflow: visible; position: absolute; right: -1px; bottom: -1px; display: block; height: 31px; line-height: 30px; margin: 0; padding-left: 10px; padding-right: 0; border-left: 1px solid #e3e2e2; text-transform: uppercase; text-decoration: none; font-size: 10px; color: #ffffff; background: #ffffff; z-index: 1; box-shadow: 2px 3px 1px #d6d6d6; }

.bl-form .bl-input-file .bl-input .el-button-browse span { display: block; padding: 0 10px; font-weight: bold; background: #9b9b9b; }

.bl-form .bl-input-file .bl-input:hover > .el-button-browse { border-left: 1px solid #8ec24c; }

/* bl-captcha */
.bl-form .bl-captcha img { overflow: hidden; display: block; width: 90%; height: 30px; line-height: 30px; text-indent: 10px; color: #7f7f7f; border: 1px solid #e6e6e6; border-radius: 5px; }

/*# sourceMappingURL=import-pluxbox.css.map */
