// issues brackets need to be escaped, otherwise it acts as function(arg);

.tl-box-middle {

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1000;

	width: 40%;
	/*height: 50%;*/

	color: #69696a;
	text-align: center;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	background: #fff;

	> h2 {
		display: block;
		height: 44px;
		line-height: 44px;
		margin: 0 0 25px 0;
		padding: 0 20px;
		font-family: 'Roboto-Regular';
		font-size: 17px;
		text-align: left;
		text-transform: uppercase;
		color: #fff;
		border-radius: 5px 5px 0 0;
		background: #d32a2a;
	}
	> p {
		margin: 0 0 25px 0;
		padding: 0 20px;
		text-align: left;
		font-size: 16px;
		font-family: 'Roboto-Regular';
		line-height: 22px;
	}	
	em,
	.button {
		color: #d32a2a;
		font-style: normal;
	}
	.button {
		display: inline-block;
		text-align: center;
		margin-bottom: 25px;
		// min-width: 150px;
		height: 35px;
		line-height: 35px;
		text-transform: uppercase;
		padding:0 15%;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;
		background: #d32a2a;
	}
	.close-button > .fa.fa-times:before {
		font-size: 19px;
	}
}

// tl-box-middle

// <div class="tl-box-middle">
// 	<h2>
// 		<span>Twee Vandaag is afgelopen</span>
// 		<a class="close-button" title="Sluiten" ng-click="showSubjectList = false">
// 			<i class="fa fa-times"></i>
// 		</a>
// 	</h2>
// 	<p>
// 		 De Wereld Draait Door is afgelopen. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
// 	</p>
// 	<p>
// 		 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
// 	</p>
// 	<p>
// 		 Tijd tot sluiting van deze chatsessie: <em>9 min en 25 sec</em>
// 	</p>
// 	<a class="button">ok</a>
// </div>