html { background-color: #ddd; }

table td { border-collapse: collapse; }

.mt-template { background-color: #ddd; }
.mt-template .mt-1 td, .mt-template .mt-5 td, .mt-template .mt-6 td { height: 10px; }
.mt-template .mt-1 td.mt-c1, .mt-template .mt-5 td.mt-c1, .mt-template .mt-6 td.mt-c1 { width: 10px; height: 10px; }
.mt-template .mt-1 td.mt-c5, .mt-template .mt-5 td.mt-c5, .mt-template .mt-6 td.mt-c5 { width: 10px; height: 10px; }
.mt-template .mt-3 td.mt-c2 { width: 1px; background-color: #c4c4c4; }
.mt-template .mt-3 td.mt-c3 { background-color: #ffffff; }
.mt-template .mt-3 td.mt-c3 .mt-body { padding: 20px 20px 10px 20px; box-shadow: 2px 3px 3px #c1c1c1; line-height: 18px; font-family: 'Lucida Grande',Verdana,Arial,sans-serif; font-size: 12px; color: #444444; }
.mt-template .mt-3 td.mt-c3 .mt-delimiter { color: #b5b5b5; }
.mt-template .mt-3 td.mt-c3 .mt-footer { margin: 10px 0 14px 0; padding-top: 10px; border-top: 1px solid #eeeeee; color: #aaaaaa; }
.mt-template .mt-3 td.mt-c4 { width: 2px; background-color: #c4c4c4; }
.mt-template .mt-2 td, .mt-template .mt-4 td { height: 2px; background-color: #c4c4c4; }
.mt-template .mt-2 td.mt-c1, .mt-template .mt-4 td.mt-c1 { width: 1px; height: 2px; background-color: transparent; }
.mt-template .mt-2 td.mt-c2, .mt-template .mt-4 td.mt-c2 { background-color: transparent; }
.mt-template .mt-2 td.mt-c5, .mt-template .mt-4 td.mt-c5 { width: 2px; height: 2px; background-color: transparent; }
.mt-template .mt-2 td.mt-c1, .mt-template .mt-2 td.mt-c2, .mt-template .mt-2 td.mt-c3, .mt-template .mt-2 td.mt-c4, .mt-template .mt-2 td.mt-c5 { height: 1px; }
.mt-template .mt-2 td.mt-c4 { background-color: transparent; }

.mt-template .mt-6 td { vertical-align: top; }
.mt-template .mt-6 a { float: left; }
.mt-template .mt-6 img { max-width: 172px; margin-left: 6px; }
.mt-template .mt-6 .mt-contact { display: inline-block; width: 230px; margin-right: 6px; text-align: left; }
.mt-template .mt-6 .mt-contact p { margin: 0 0 10px; text-align: left; line-height: 18px; font-family: 'Arial', 'Verdana'; font-size: 11px; color: #808080; }

.mt-pbrainbow { height: 5px; font-size: 1px; }
.mt-pbrainbow .mt-pbrainbow-1 { background-color: #ffd33a; }
.mt-pbrainbow .mt-pbrainbow-2 { background-color: #86be40; }
.mt-pbrainbow .mt-pbrainbow-3 { background-color: #54bed3; }
.mt-pbrainbow .mt-pbrainbow-4 { background-color: #f062a4; }

.mt-topnote { display: block; margin-top: 10px; margin-bottom: 0; color: #909090; font-family: 'Arial', 'Verdana'; font-size: 11px; line-height: 18px; text-align: center; }
.mt-topnote p { margin-bottom: 0; }

@media only screen and (max-device-width: 480px) { .mt-template .mt-6 .mt-contact { float: none; clear: both; display: block; width: 100%; } }
