@-webkit-keyframes fj-laser { 0% { width: 0%; opacity: 0; }
  100% { width: 100%; opacity: 0.1; } }
@-webkit-keyframes fj-laser-hold { 0% { width: 100%; opacity: 0.2; }
  50% { width: 100%; opacity: 0.1; }
  100% { width: 100%; opacity: 0.2; } }
@-webkit-keyframes fj-laser-delay { 0% { left: 0%; }
  100% { left: 100%; } }
@-webkit-keyframes wave { 0% { -webkit-transform: rotateZ(35deg); }
  50% { -webkit-transform: rotateZ(60deg); }
  100% { -webkit-transform: rotateZ(35deg); } }
* { font-family: 'droid-regular'; }

html, body { margin: 0; padding: 0; }

html { font-size: 62.5%; background: #F6E8C4; }

ul, li { margin: 0; padding: 0; }

h1, h2, h3 { margin: 0 0 10px 0; padding: 0; }

.fj-baanieboo { position: absolute; bottom: 28px; right: 14px; z-index: 3; height: 30px; width: 34px; border-radius: 40px 40px 0 0; background: #000; }
.fj-baanieboo:before { content: ''; display: block; width: 12px; height: 12px; border-radius: 12px; position: absolute; top: -4px; right: 4px; z-index: 3; background: #000; }
.fj-baanieboo .fj-baanieboo-face { position: absolute; top: 12px; right: 50%; z-index: 1; display: block; width: 24px; height: 24px; margin-right: -12px; border-radius: 26px 2px 20px 20px; background: #F6E8C4; }
.fj-baanieboo .fj-baanieboo-face .fj-baanieboo-eyes { position: absolute; top: 8px; right: 1px; display: block; width: 10px; height: 10px; border-radius: 10px; border-top: 3px solid #222; }
.fj-baanieboo .fj-baanieboo-face .fj-baanieboo-eyes:before { content: ''; position: absolute; top: -3px; right: 12px; display: block; width: 10px; height: 10px; border-radius: 10px; border-top: 3px solid #222; }
.fj-baanieboo .fj-baanieboo-face .fj-baanieboo-mouth { position: absolute; top: 15px; right: 7px; display: block; width: 10px; height: 4px; border-radius: 0 0 10px 10px; border-top: 1px solid #dfb5b5; border-bottom: 1px solid #dfb5b5; background: #222; }
.fj-baanieboo .fj-baanieboo-body { overflow: hidden; position: absolute; top: 28px; right: 2px; display: block; width: 30px; height: 30px; border-radius: 10px 10px 0 0; z-index: -1; background: #ca3a3a; }
.fj-baanieboo .fj-baanieboo-body:before { content: ''; position: absolute; top: 2px; right: -19px; display: block; width: 44px; height: 31px; border-radius: 40px; border-top: 3px solid #fff; background: #ca3a3a; }
.fj-baanieboo .fj-baanieboo-arm { -webkit-animation: wave 1s infinite 0; }
.fj-baanieboo .fj-baanieboo-arm, .fj-baanieboo .fj-baanieboo-arm-right { position: absolute; top: 31px; right: 31px; z-index: 0; display: block; width: 14px; height: 7px; border-radius: 2px; background: #ca3a3a; -webkit-transform-origin: 100% 100%; transform-origin: 100% 100%; }
.fj-baanieboo .fj-baanieboo-arm:before, .fj-baanieboo .fj-baanieboo-arm-right:before { content: ''; position: absolute; top: -1px; right: 7px; display: block; width: 8px; height: 8px; border-radius: 4px 2px 0 4px; background: #F6E8C4; }
.fj-baanieboo .fj-baanieboo-arm-right { right: 4px; -webkit-transform: rotateZ(212deg); top: 26px; }
.fj-baanieboo .fj-baanieboo-arm-right:before { top: 0; border-radius: 4px 0 2px 4px; }

.fj-cards { padding: 20px 0; }

@-webkit-keyframes drip { 0% { top: 50%; right: 50%; bottom: 50%; left: 50%; background: #fff; }
  100% { top: -100px; right: -100px; bottom: -100px; left: -100px; background: #9e8e8e; } }
@-webkit-keyframes dripHold { 0% { top: -100px; right: -100px; bottom: -100px; left: -100px; background: #9e8e8e; opacity: 1; }
  100% { top: -100px; right: -100px; bottom: -100px; left: -100px; background: #9e8e8e; opacity: 0.1; } }
.fj-card { overflow: hidden; position: relative; display: block; text-decoration: none; vertical-align: top; border-radius: 2px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); background: #fff; position: relative; padding-bottom: 74.25%; padding-top: 25px; height: 0; }
.fj-card:active:after { z-index: 0; background: #fff2d6; }
.fj-card:active:before { z-index: 1; -webkit-animation-timing-function: ease-in-out; -webkit-animation: drip 0.4s 1, dripHold 1s 1; -webkit-animation-delay: 0s, 0.4s; }
.fj-card img { position: absolute; top: 0; left: 0; height: 100%; }

.fj-directcontact { text-align: right; color: #fff; background: #a82828; }
.fj-directcontact > a { display: block; height: 43px; line-height: 43px; font-size: 1.4rem; color: #fff; text-decoration: none; }
.fj-directcontact > a > cite { display: inline-block; margin-right: 30px; font-size: 1.2rem; font-family: 'opensans-regular'; }
.fj-directcontact > a i { margin-right: 6px; }
.fj-directcontact > a > span { position: relative; display: inline-block; color: #fff; transition: color 1s; }
.fj-directcontact > a:hover span { color: #f6b02c; }

.fj-fixed { min-width: 240px; max-width: 960px; margin: auto; padding: 0 20px; -webkit-transition: color 0.6s; transition: color 0.6s; }

.fj-header { position: relative; z-index: 2; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); border-top: 1px solid #dc0000; background: #bb2c2c; }
.fj-header header { height: 90px; line-height: 90px; text-transform: capitalize; font-size: 3.5rem; line-height: 78px; color: #f2e4cb; }
.fj-header header sup { font-size: 1.4rem; }

.fj-host { position: absolute; bottom: 0; right: 7px; z-index: 3; display: block; width: 62px; height: 80px; border-radius: 10px 10px 0 0; background: rgba(255, 255, 255, 0.4); }

.fj-message { position: absolute; bottom: -20px; right: 84px; z-index: 3; font-family: 'droid-regular'; color: #fff; text-shadow: none; line-height: 30px; border-width: 0px; border-style: none; background-color: rgba(71, 60, 53, 0.8); padding: 10px; width: 154%; display: block; }
.fj-message:before { content: ''; display: block; position: absolute; bottom: 20px; right: -20px; border-width: 10px 10px 10px 10px; border-style: solid; border-color: rgba(71, 60, 53, 0.8) transparent transparent rgba(71, 60, 53, 0.8); }
.fj-message h1 { font-size: 1.6rem; margin-bottom: 0; }

.fj-navigation { position: absolute; top: 184px; z-index: 2; width: 155px; margin: 0px; padding: 0px 0px 10px; border-radius: 0 14px 0 0; background: #ffffff; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); }
.fj-navigation i { position: absolute; top: 0; left: 0; display: inline-block; width: 55px; height: 50px; padding-top: 2px; text-align: center; font-family: 'sushi-high'; font-style: normal; font-size: 4.6rem; line-height: 55px; text-decoration: none; color: #000; background: #fff; }
.fj-navigation i:before { content: ''; display: block; position: absolute; bottom: 0; right: 0; width: 0; height: 0; border-width: 6px; border-style: solid; border-top-color: transparent; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; }
.fj-navigation li:hover { box-shadow: 0 0 3px #f9f9f9; }
.fj-navigation li:hover:nth-child(1) { border-radius: 0 14px 0 0; }
.fj-navigation li a { position: relative; display: block; padding-left: 55px; color: #222; transition: color 0.5s; }
.fj-navigation li a:hover { color: #f6b02c; }
.fj-navigation li a > span { display: inline-block; height: 50px; line-height: 50px; font-size: 1.2rem; padding-top: 2px; padding-left: 10px; }
.fj-navigation li a:before { content: ''; display: block; position: absolute; right: 0; bottom: 0; left: 0; width: 0%; height: 3px; }
.fj-navigation li a:hover:before { -webkit-transition: -webkit-transform 1s; -webkit-transition-timing-function: cubic-bezier; -webkit-transform-style: preserve-3d; -webkit-animation: fj-laser 0.3s 1, fj-laser-hold 1s infinite; -webkit-animation-delay: 0s, 0.3s; }
.fj-navigation li:nth-child(1) a:hover:before { background: #FF7A4D; }
.fj-navigation li:nth-child(2) a:hover:before { background: #F169A7; }
.fj-navigation li:nth-child(3) a:hover:before { background: #AB4F7E; }
.fj-navigation li:nth-child(4) a:hover:before { background: #84B644; }
.fj-navigation li:nth-child(5) a:hover:before { background: #F6B02C; }
.fj-navigation li:nth-child(6) a:hover:before { background: #D98F5A; }
.fj-navigation li:nth-child(7) a:hover:before { background: #6AC0BE; }
.fj-navigation li:nth-child(8) a:hover:before { background: #26C9FF; }
.fj-navigation li:nth-child(1) i:before { border-right-color: #FF7A4D; border-bottom-color: #FF7A4D; }
.fj-navigation li:nth-child(2) i:before { border-right-color: #F169A7; border-bottom-color: #F169A7; }
.fj-navigation li:nth-child(3) i:before { border-right-color: #AB4F7E; border-bottom-color: #AB4F7E; }
.fj-navigation li:nth-child(4) i:before { border-right-color: #84B644; border-bottom-color: #84B644; }
.fj-navigation li:nth-child(5) i:before { border-right-color: #F6B02C; border-bottom-color: #F6B02C; }
.fj-navigation li:nth-child(6) i:before { border-right-color: #D98F5A; border-bottom-color: #D98F5A; }
.fj-navigation li:nth-child(7) i:before { border-right-color: #6AC0BE; border-bottom-color: #6AC0BE; }
.fj-navigation li:nth-child(8) i:before { border-right-color: #26C9FF; border-bottom-color: #26C9FF; }

.fj-note { position: absolute; bottom: -24px; right: 0px; z-index: 4; display: block; width: 134%; font-size: 1.4rem; }

@-webkit-keyframes blindsClose1 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose2 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose3 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose4 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose5 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose6 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose7 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose8 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose9 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose10 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose11 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsClose12 { 0% { height: 0%; }
  100% { height: 100%; } }
@-webkit-keyframes blindsOpen1 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen2 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen3 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen4 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen5 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen6 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen7 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen8 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen9 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen10 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen11 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes blindsOpen12 { 0% { height: 100%; }
  100% { height: 0%; } }
@-webkit-keyframes bannerSwitch { 0% { z-index: 0; }
  100% { z-index: 1; } }
.fj-venetianBlinds { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; }
.fj-venetianBlinds i { position: absolute; top: 0; width: 10%; border-radius: 0 0 5px 5px; box-shadow: 0 0 5px #000; background: url("images/fujisan/food-bg.jpg") no-repeat center top; -webkit-animation-fill-mode: forwards; -webkit-animation-timing-function: linear; }
.fj-venetianBlinds i:nth-child(1) { left: 0; -webkit-animation: blindsClose1 1s 1 forwards 0.2s, blindsOpen1 1s 1 forwards 2.2s; }
.fj-venetianBlinds i:nth-child(2) { left: 10%; -webkit-animation: blindsClose2 1s 1 forwards 0.4s, blindsOpen1 1s 1 forwards 2.4s; }
.fj-venetianBlinds i:nth-child(3) { left: 20%; -webkit-animation: blindsClose3 1s 1 forwards 0.6s, blindsOpen1 1s 1 forwards 2.6s; }
.fj-venetianBlinds i:nth-child(4) { left: 30%; -webkit-animation: blindsClose4 1s 1 forwards 0.8s, blindsOpen1 1s 1 forwards 2.8s; }
.fj-venetianBlinds i:nth-child(5) { left: 40%; -webkit-animation: blindsClose5 1s 1 forwards 1s, blindsOpen1 1s 1 forwards 3s; }
.fj-venetianBlinds i:nth-child(6) { left: 50%; -webkit-animation: blindsClose6 1s 1 forwards 1.2s, blindsOpen1 1s 1 forwards 3.2s; }
.fj-venetianBlinds i:nth-child(7) { left: 60%; -webkit-animation: blindsClose7 1s 1 forwards 1.4s, blindsOpen1 1s 1 forwards 3.4s; }
.fj-venetianBlinds i:nth-child(8) { left: 70%; -webkit-animation: blindsClose8 1s 1 forwards 1.6s, blindsOpen1 1s 1 forwards 3.6s; }
.fj-venetianBlinds i:nth-child(9) { left: 80%; -webkit-animation: blindsClose9 1s 1 forwards 1.8s, blindsOpen1 1s 1 forwards 3.8s; }
.fj-venetianBlinds i:nth-child(10) { left: 90%; -webkit-animation: blindsClose10 1s 1 forwards 2s, blindsOpen1 1s 1 forwards 4s; }
.fj-venetianBlinds i:nth-child(1) { background-position: 0 0; }
.fj-venetianBlinds i:nth-child(2) { background-position: 10% 0; }
.fj-venetianBlinds i:nth-child(3) { background-position: 20% 0; }
.fj-venetianBlinds i:nth-child(4) { background-position: 30% 0; }
.fj-venetianBlinds i:nth-child(5) { background-position: 40% 0; }
.fj-venetianBlinds i:nth-child(6) { background-position: 50% 0; }
.fj-venetianBlinds i:nth-child(7) { background-position: 60% 0; }
.fj-venetianBlinds i:nth-child(8) { background-position: 70% 0; }
.fj-venetianBlinds i:nth-child(9) { background-position: 80% 0; }
.fj-venetianBlinds i:nth-child(10) { background-position: 90% 0; }

.fj-blinds { border-bottom: 5px solid #a82828; background: #A37554; }
.fj-blinds .fj-blinds-inner { position: relative; padding: 0; }
.fj-blinds .fj-blinds-inner img { overflow: hidden; display: block; width: 100%; }

@media only screen and (max-width: 767px) { [class*="fj-col"], [class~=" fj-col"] { float: left !important; width: 33.33% !important; }
  [class*="fj-mcol"], [class~=" fj-mcol"] { float: left !important; width: 31.33% !important; } }
@media only screen and (max-width: 766px) { [class*="fj-col"], [class~=" fj-col"] { float: left !important; width: 50% !important; }
  [class*="fj-mcol"], [class~=" fj-mcol"] { float: left !important; width: 48% !important; }
  .fj-directcontact > a { height: auto; text-align: center; line-height: 24px; }
  .fj-directcontact > a > cite { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: 0; line-height: 24px; }
  .fj-header header { position: relative; height: 70px; line-height: 58px; font-size: 2.5rem; }
  .fj-header header sup { position: absolute; bottom: -8px; left: 22px; font-size: 1.0rem; }
  .fj-message > h1 { margin-bottom: 0; font-size: 1.2rem; line-height: 2rem; } }
@media only screen and (min-width: 320px) and (max-width: 479px) { .fj-directcontact > a { height: auto; text-align: center; line-height: 24px; }
  .fj-directcontact > a > cite { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-right: 0; line-height: 24px; }
  .fj-header header { position: relative; height: 70px; line-height: 58px; font-size: 2.5rem; }
  .fj-header header sup { position: absolute; bottom: -8px; left: 22px; font-size: 1.0rem; }
  .fj-message > h1 { font-size: 1.2rem; line-height: 2rem; } }

/*# sourceMappingURL=fujisan.css.map */
