@import 'test';

ch-gradient {
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 27%, rgba(236,236,236,1) 50%, rgba(255,255,255,1) 75%, rgba(230,230,230,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(27%,rgba(229,229,229,1)), color-stop(50%,rgba(236,236,236,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 27%,rgba(236,236,236,1) 50%,rgba(255,255,255,1) 75%,rgba(230,230,230,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 27%,rgba(236,236,236,1) 50%,rgba(255,255,255,1) 75%,rgba(230,230,230,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 27%,rgba(236,236,236,1) 50%,rgba(255,255,255,1) 75%,rgba(230,230,230,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 27%,rgba(236,236,236,1) 50%,rgba(255,255,255,1) 75%,rgba(230,230,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
}


html, body {
	margin: 0;
	padding: 0;
}
h1, h2, em, p, fieldset {
	margin: 0;
	padding: 0;
}
fieldset {
	border: 0;
}

.ch-wrapper {
	overflow: hidden;
	transform: scale(0.5);
	position: relative;
	width: 1920px;
	height: 1080px;
	// background: #1c3356;
	font-family: 'Arial';
}
[class*="ch-deadline"],
[class~=" ch-deadline"] {
	position: absolute;
	left: 0;
	right: 0;
}

.ch-box {
	&.ch-screen1 { z-index: 1; }
	&.ch-screen2 { z-index: 1; }
	&.ch-screen3 { z-index: 3; }
	&.ch-screen4 { z-index: 1; }
}
.ch-box {

	position: absolute;
	bottom: 0;
	left: 0;
	width: 1800px;
	height: 950px;

	&.ch-screen1 {

		&:before {
			content: '';
			position: absolute;
			top: -130px;
			right: -120px;
			width: 1920px;
			height: 1080px;
			background: #1c3356;
		}
	}
	&.ch-screen2 {

		&:before {
			content: '';
			position: absolute;
			top: -130px;
			right: -120px;
			width: 1920px;
			height: 1080px;
			background: url('images/hd-wallpaper-6032-6366-hd-wallpapers1.jpg') no-repeat center center;
		}
	}
	&.ch-screen3 {

		&:before {
			content: '';
			position: absolute;
			top: -130px;
			right: -120px;
			width: 1920px;
			height: 1080px;
			background: url('images/cycling-passion-of-life-1920x1080.jpg') no-repeat center center;
		}
	}	
	&.ch-screen4 {

		width: 1920px;
		height: 1080px;
		top: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 1920px;
			height: 1080px;
			background: url('images/1920x1080.jpg') no-repeat center center;
		}

		.ch-nowplaying {
			top: 0;
			z-index: 1;
		}
		.ch-nowplaying-skin {
			
			background: none;
		}
		.ch-nowplaying-body {
			display: none;
		}
	}
}
.ch-deadline-main {
	
	// @extend ch-gradient;
	height: 450px;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;

	h1 {
		margin-top: 130px;
		font-size: 80px;
		color: #16376a;
	}
	em {
		display: block;
		margin-top: 20px;
		font-size: 45px;
		font-style: normal;
	}
	p {
		margin-top: 20px;
		font-size: 45px;
	}
}
.ch-alert {

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -40px;
		border-width: 40px 200px 0;
		border-style: solid;
		border-color: #264473 transparent transparent transparent;
	}
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 400px;
	height: 40px;
	margin-left: -200px;
	color: #fff;
	font-size: 23px;
	text-transform: uppercase;
	background: #264473;
}
.ch-deadline-overview {
	top: 451px;
	// background: lightblue;
}

.ch-upcoming-row {

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0px;
		border-width: 60px 0px 60px 20px;
		border-style: solid;
		border-color:  transparent transparent transparent #264473;
	}
	position: relative;
	height: 123px;
	line-height: 123px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: #f2f2f2;

	span, time, p {
		display: inline-block;
		font-size: 35px;
	}
	span, time {
		margin-left: 100px;
		font-weight: bold;
		color: #264473;
	}
	p, time {
		margin-left: 50px;
	}
}

.ch-nowplaying {

	position: absolute;
	bottom: 100px;
	left: -37px;
	width: 1200px;
	height: 345px;

	.ch-nowplaying-skin {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		background: #fff;
		-webkit-transform: skew(332deg, 0deg);
		transform: skew(332deg, 0deg);

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: auto;
			left: 0;
			height: 100px;
			background: #264473;
		}
	}


	> span {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: 100px;
		line-height: 100px;
		padding-left: 100px;
		color: #fff;
		font-weight: bold;
		font-size: 33px;
		text-transform: uppercase;
		background: #264473;
	}
	.ch-nowplaying-body {
		position: absolute;
		top: 101px;
		right: 100px;
		left: 0;
		padding: 50px 50px 50px 100px;
		background: #fff;

		h2 {
			margin-bottom: 10px;
			font-size: 37px;
		}
		p {
			margin-bottom: 10px;
			font-size: 28px;
		}
		time {
			margin-bottom: 10px;
			font-size: 28px;
		}
		img {
			float: left;
			margin: 0 30px 0 0;

		}
	}
}

.ch-item {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 100px 600px 100px 100px;
	background: #fff;

	h1 {
		display: block;
		margin-bottom: 30px;
		font-size: 55px;
		color: #264473;
	}
	time {
		display: block;
		margin-bottom: 20px;
		color: #777;
		font-size: 28px;
		font-weight: bold;
	}
	p {
		display: block;
		margin-bottom: 20px;
		color: #333;
		font-size: 35px;
		line-height: 55px;
	}
	img {
		position: absolute;
		top: 300px;
		right: -60px;
		width: 573px;
		border: 7px solid #fff;
		box-shadow: 0 0 13px #666;
	}
}

.ch-item2 {
	position: absolute;
	top: 100px;
	bottom: 100px;
	left: 0;
	z-index: 1;
	right: 1100px;
	padding: 80px;
	background: #fff;

	p {
		margin-bottom: 50px;
		line-height: 50px;
		font-size: 30px;
	}
	a {
		color: #4191d7;
		text-decoration: none;
	}
}


.ch-pager {
	position: absolute;
	top: 100px;
	right: 100px;
	display: block;
	font-weight: bold;
	font-size: 55px;
	color: #264473;

}

.ch-marquee {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100px;
	background: #71bafa;
	box-shadow: 0 0 110px #4f8cc3 inset;

	em {
		overflow: hidden;
		padding-left: 50px;
		padding-right: 300px;
		line-height: 100px; 
		white-space: nowrap;
		display: block;
		text-overflow: ellipsis;
		font-size: 40px;
		color: #fff;
	}
}

.ch-meanwhile {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	width: 25%;
	height: 10px;
	box-shadow: 0 0 4px #666f20 inset;
	background: #bdce33;
}