@-webkit-keyframes path {
	0% {
		-webkit-animation: testa 3s infinite;
		-webkit-animation-delay: 0s;
	}
	100%   {
		-webkit-animation: testb 3s infinite;
		-webkit-animation-delay: 3s;
	}
}

@-webkit-keyframes testa {
	0% {
		background: red;
	}
	50% {
		background: blue;
	}
	100%   {
		background: red;
	}
}
@-webkit-keyframes testb {
	0% {
		background: green;
	}
	50% {
		background: pink;
	}
	100%   {
		background: green;
	}
}
.test {
	width: 30px;
	height: 30px;
	background: red;

	-webkit-transition: -webkit-transform 1s;
	-webkit-transition-timing-function: cubic-bezier;

	-webkit-transform-style: preserve-3d;

	-webkit-animation: path 3s infinite;
	

}

[class*="thesans-"],
[class~=" thesans-"] {
	font-weight: normal;
	font-style: normal;
}

.thesans-b2extralight {
	font-family: 'thesans-b2extralight';
	src: url('fonts/thesans-b2extralight-webfont.ttf') format('truetype');
}
.thesans-b2extralight {
	font-family: 'thesans-b2extralightitalic';
	src: url('fonts/thesans-b2extralightitalic-webfont.ttf') format('truetype');
}
.thesans-b3light {
	font-family: 'thesans-b3light';
	src: url('fonts/thesans-b3light-webfont.ttf') format('truetype');
}
.thesans-b3lightitalic {
	font-family: 'thesans-b3lightitalic';
	src: url('fonts/thesans-b3lightitalic-webfont.ttf') format('truetype');
}
.thesans-b4semilightitalic {
	font-family: 'thesans-b4semilightitalic';
	src: url('fonts/thesans-b4semilightitalic-webfont.ttf') format('truetype');
}
.thesans-b2extralight {
	font-family: 'thesans-b2extralight';
	src: url('fonts/thesans-b2extralight-webfont.ttf') format('truetype');
}


.thesans-b2extralight {
	font-family: 'thesans-b2extralight';
	src: url('fonts/thesans-b5plain-webfont.ttf') format('truetype');
}
.thesans-b2extralight {
	font-family: 'thesans-b2extralight';
	src: url('fonts/thesans-b5plainitalic-webfont.ttf') format('truetype');
}
.thesans-b6semibold {
	font-family: 'thesans-b6semibold';
	src: url('fonts/thesans-b6semibold-webfont.ttf') format('truetype');
}
.thesans-b6semibolditalic {
	font-family: 'thesans-b6semibolditalic';
	src: url('fonts/thesans-b6semibolditalic-webfont.ttf') format('truetype');
}
.thesans-b7bold {
	font-family: 'thesans-b7bold';
	src: url('fonts/thesans-b7bold-webfont.ttf') format('truetype');
}
.thesans-b7bolditalic {
	font-family: 'thesans-b7bolditalic';
	src: url('fonts/thesans-b7bolditalic-webfont.ttf') format('truetype');
}
.thesans-b8extrabold {
	font-family: 'thesans-b8extrabold';
	src: url('fonts/thesans-b8extrabold-webfont.ttf') format('truetype');
}


.thesans-b8extrabolditalic {
	font-family: 'thesans-b8extrabolditalic';
	src: url('fonts/thesans-b8extrabolditalic-webfont.ttf') format('truetype');
}
.thesans-b9black {
	font-family: 'thesans-b9black';
	src: url('fonts/thesans-b9black-webfont.ttf') format('truetype');
}
.thesans-b8extrabold {
	font-family: 'thesans-b8extrabold';
	src: url('fonts/thesans-b8extrabold-webfont.ttf') format('truetype');
}
.thesans-b9blackitalic {
	font-family: 'thesans-b9blackitalic';
	src: url('fonts/thesans-b9blackitalic-webfont.ttf') format('truetype');
}



@-webkit-keyframes blue { 0% { background: blue; } 100% { background: lightblue; } }
@-webkit-keyframes red { 0% { background: lightblue; } 100% { background: red; } }
@-webkit-keyframes green { 0% { background: red; } 100% { background: lightgreen; } }

@-webkit-keyframes cheBlokRollA {
	0% {
		-webkit-transform: rotateX(0deg);
		-webkit-transform-origin: 0 0;
	}
	40%   {
		-webkit-transform: rotateX(-3deg);
		-webkit-transform-origin: 0 0;
	}
	100%   {
		-webkit-transform: rotateX(95deg);
		-webkit-transform-origin: 0 0;
	}
}
@-webkit-keyframes cheBlokRollB {
	0% {
		-webkit-transform: rotateX(95deg);
		-webkit-transform-origin: 0 0;
	}
	40%   {
		-webkit-transform: rotateX(-3deg);
		-webkit-transform-origin: 0 0;
	}
	100%   {
		-webkit-transform: rotateX(0deg);
		-webkit-transform-origin: 0 0;
	}
}

@-webkit-keyframes cheCountdownValve {
	0% {
		-webkit-transform: rotateX(0deg);
		-webkit-transform-origin: 0 0;
		box-shadow: 0px 2px 3px #444;
	}
	20%   {
		-webkit-transform: rotateX(45deg);
		-webkit-transform-origin: 0 0;
		box-shadow: 0px 39px 62px #444;
	}
	80%   {
		-webkit-transform: rotateX(45deg);
		-webkit-transform-origin: 0 0;
		box-shadow: 0px 39px 62px #444;
	}
	100%   {
		-webkit-transform: rotateX(0deg);
		-webkit-transform-origin: 0 0;
		box-shadow: 0px 2px 3px #444;
	}
}


.che-wrapper {
	position: relative;
	overflow: hidden;
	width: 1920px;
	height: 1080px;
	background: #f2f2f2;
}
.che-countdown {
	position: absolute;
	top: 80px;
	left: 0;
	display: block;
	width: 1840px;
	height: 1000px;
	background: #222;
	color: #fff;
	-webkit-perspective: 12500px;
	perspective: 12500px;
	-webkit-perspective-origin: 0% 0%;
	perspective-origin: 0% 0%;

}

.che-countdown-valve {
	position: absolute;
	top: 0px;
	right: 0;
	left: 0px;
	height: 502px;
	z-index: 2;
	display: block;
	box-shadow: 0px 1px 3px #ddd;

	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 27%, rgba(236,236,236,1) 50%, rgba(255,255,255,1) 75%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(27%,rgba(229,229,229,1)), color-stop(50%,rgba(236,236,236,1)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 27%,rgba(236,236,236,1) 50%,rgba(255,255,255,1) 75%,rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 27%,rgba(236,236,236,1) 50%,rgba(255,255,255,1) 75%,rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 27%,rgba(236,236,236,1) 50%,rgba(255,255,255,1) 75%,rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 27%,rgba(236,236,236,1) 50%,rgba(255,255,255,1) 75%,rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );

	-webkit-transition: -webkit-transform 1s;
	-webkit-transition-timing-function: cubic-bezier;

	-webkit-transform-style: preserve-3d;

	-webkit-animation: cheCountdownValve 3s 1;
	-webkit-animation-delay: 0s;

}

.che-overview {
	position: absolute;
	// top: 377px;
	top: 251px;
	right: 0;
	bottom: 0;
	left: 0;
}

.che-blok {
	position: absolute;
	top: 124px;
	right: 0;
	left: 0;
	padding-left: 300px;
	height: 122px;
	line-height: 122px;
	text-indent: 10px;
	color: #333;
	font-family: 'Arial';
	font-size: 12px;
	border-top: 1px solid #fff;
	border-bottom: 2px solid #d2d2d2;
	background: #f2f2f2;

	-webkit-transition: -webkit-transform 1s;
	-webkit-transition-timing-function: cubic-bezier;

	-webkit-transform-style: preserve-3d;

	
	-webkit-animation: cheBlokRollA 2s 1, cheBlokRollB 2s 1;
	-webkit-animation-delay: 0s, 2s;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0px;
		border-width: 60px 0px 60px 20px;
		border-style: solid;
		border-color:  transparent transparent transparent #264473;
	}
	span, time, p {
		display: inline-block;
		font-size: 48px;
	}
	span, time {
		margin-left: 100px;
		font-weight: bold;
		color: #264473;
	}
	span {
		position: absolute;
		top: 50%;
		left: 90px;
		margin-left: 0;	
		margin-top: -61px;
	}	
	p, time {
		margin-left: 50px;
	}
	&.che-blok-reset {
		&:before {
			display: none;
		}
	}
}

@-webkit-keyframes cheTickerIn {
	0% {
		left: -1920px;
		opacity: 0;
	}
	60% {
		left: -1920px;
		opacity: 0;
	}
	88% {
		left: -5px;
	}
	100% {
		left: 0;
	}
}
@-webkit-keyframes cheTickerOut {
	0% {
		left: 0;
	}
	12% {
		left: 5px;
	}
	15% {
		opacity: 1;
	}
	30% {

		opacity: 0;
		left: 1920px;
	}
	100% {

		left: 1920px;
		opacity: 0;
	}
}


.che-ticker {
	position: absolute;
	// top: 0;
	// right: 0;
	bottom: 0;
	width: 1920px;
	height: 125px;
	line-height: 125px;
	font-size: 54px;
	color: #fff;
	font-family: 'thesans-b7bolditalic';
	box-shadow: 0 5px 30px rgba(17,17,17, 0.2) inset;
	background: #73beff;

	-webkit-transition: -webkit-transform 1s;
	-webkit-transition-timing-function: cubic-bezier;

	-webkit-transform-style: preserve-3d;

	-webkit-animation: cheTickerIn 3s 1, cheTickerOut 3s 1, cheTickerIn 3s 1, cheTickerOut 3s 1, cheTickerIn 3s 1, cheTickerOut 3s;
	-webkit-animation-delay: 0s, 6s, 12s, 18s, 24s, 30s;
}

.che-countdown-bg {
	position: absolute;
	top: -80px;
	right: -80px;
	width: 1920px;
	height: 1080px;
	background: #1c3356;
}

html .ch-alert {
	height: 41px;
	text-align: center;
	font-family: 'Arial';
}











































