@mixin tl-position ( $position-top: 0, $position-right: 0, $position-bottom: 0, $position-left: 0 ) {

	position: absolute;
	top: $position-top;
	right: $position-right;
	bottom: $position-bottom;
	left: $position-left;
}

%tl-position-stretched {
	@include tl-position;
}
