@-webkit-keyframes tl-animate-infinite-glow  {
	0% {
		color: #282828;
	}
	50% {
		color: #53bbfd;
	}
	100% {
		color: #282828;
	}
}
@keyframes tl-animate-infinite-glow  {
	0% {
		color: #282828;
	}
	50% {
		color: #53bbfd;
	}
	100% {
		color: #282828;
	}
}
